<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pwittchen.reactivesensors.kotlinapp"
    >

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >

    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".samples.GyroscopeActivity"/>
    <activity android:name=".samples.OrientationActivity"/>
    <activity android:name=".samples.AccelerometerActivity"/>
    <activity android:name=".samples.AmbientTemperatureActivity"/>
    <activity android:name=".samples.GravityActivity"/>
    <activity android:name=".samples.LightActivity"/>
    <activity android:name=".samples.LinearAccelerationActivity"/>
    <activity android:name=".samples.MagneticFieldActivity"/>
    <activity android:name=".samples.PressureActivity"/>
    <activity android:name=".samples.ProximityActivity"/>
    <activity android:name=".samples.RelativeHumidityActivity"/>
    <activity android:name=".samples.RotationVectorActivity"/>
    <activity android:name=".samples.TemperatureActivity"/>

  </application>

</manifest>
